.dashboard {
  display: flex;
  flex-direction: column;
}

.dash-head {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
}

.d-info {
  padding: 3rem 5rem;
  outline: 3px solid rgb(59, 211, 159);
  text-align: center;
}

.d-info span {
  font-weight: bold;
}

.chart {
  height: 60vh;
  width: 80%;
  margin: 2rem auto 0;
  display: flex;
  align-items: center;
}

.d-form {
  margin-top: 5rem;
  display: flex;
  width: 100;
  flex-direction: column;
  text-align: center;
  background-color: #eee;
  border-top: 3px solid rgb(59, 211, 159);
}

.d-form h3 {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 200;
}

.dash-form {
  padding: 3rem;
  margin: 3rem;
  outline: 3px solid rgb(59, 211, 159);
  width: 100;
  display: grid;
  min-height: 40vh;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.d-form-item {
  width: 50%;
  height: 40%;
  margin: auto;
}

.d-form-btn {
  width: 70%;
  margin: auto;
}
